body {
  background-color: white;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.headerfoto {
  background-image: url('/afbeeldingen/toscaneuitzicht.jpg');
  background-size: cover;
  width: 40%;
  padding: 10%;
  margin: 10%;
}

