* {
  box-sizing: border-box;
  font-family: verdana;
  font-size: medium;
}

body {
  background-color: white;
}
 
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}



.banner {
  background-image: url(/afbeeldingen/toscanelandschap.jpg);
  background-size: cover;
  background-position: center;
}

.menu {
  padding: 20px;
}

.header {
  text-align: center;
}

.homefoto{
  max-width: 100%;
  max-height: 50%;
}


.row{
  width:70vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}

.row.breed {
width:80vw;

}

.row > .tweekolommen {
width: 45vw;
height: 300px;
margin: 20px;
margin-bottom: 100px;
}

.row.breed > .tweekolommen2 {
width: 40vw;
height: 350px;
margin: 20px;
padding-right: 50px;
}

.tweekolommen3{
width: 40vw;
height: 500px;
margin: 20px;
padding-top: 10px;
padding-right: 50px;
text-align:center;
}



