* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-size: medium;
}

body {
  background-color: white;
}
 
h1, h2 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 25px;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
}


.menu {
  padding: 20px;
}

#foto{
  max-width: 100%;
  height:100vh;
  background-image: url('./../afbeeldingen/toscanelandschap.jpg');
  background-size: cover;
  background-position: center;
}

#foto h1{
  padding: 300px 20px 20px 100px;
  text-align: left;
  padding-bottom: 20px;
}



.row{
  width:80vw;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.row.breed {
width:80vw;

}

.row > .tweekolommen {
width: 45vw;
margin: 50px;
margin-bottom: 100px;
align-items: center;
}

.row.breed > .tweekolommen2 {
width: 40vw;
margin: 20px;
padding-right: 50px;
align-items: center;
}

.tweekolommen3{
width: 40vw;
margin: 20px;
padding-top: 10px;
padding-right: 50px;
text-align: center;
align-items: center;
}

#leafletmap { 
  height: 500px; 
  width:100%;
}

#openlayersmap {
  height: 500px;
  width: 100%;
}

